@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole<Guid>>

@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Role">Add New Role</a>
    <div class="alert-danger">
        @ViewData["ErrorMessage"]
    </div>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Role" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <form asp-controller="Role" asp-action="DeleteRole" asp-route-id="@role.Id" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a role</h5>
        </div>
        <a class="btn btn-primary" style="width:auto" asp-controller="Role" asp-action="CreateRole">Create Role</a>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}